//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.action-bar {  display: flex;  align-items: center;  gap: 16px; /* space between button + select */}

/* Add spacing between DWP header tabs */
.dwp-header-navigation__item {
margin-right: 1rem; /* spacing between tabs */
}

/* Optional: make each tab wider */
.dwp-header-navigation__item a {
padding: 0 0.75rem; /* left + right padding */
}


.moj-scrollable-pane {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
}

.moj-scrollable-pane:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
}

.moj-scrollable-pane::after {
  content: "";
  display: block;
  height: 10px;
}






