//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


/* Buttons padding e*/
.action-bar {  display: flex;  align-items: center;  gap: 16px; /* space between button + select */}

/* MOJ scrollable table*/
.moj-scrollable-pane {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  background: linear-gradient(90deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 0 50%, #0003, #fff0), linear-gradient(270deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 100% 50%, #0003, #fff0) 100%;
    background-attachment: local, scroll, local, scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%, .75em 100%, 100% 100%, .75em 100%;
    overflow-x: scroll;
}

.moj-scrollable-pane:focus {
box-shadow: 0 0 0 4px var(--govuk-focus-colour, #fd0), 0 0 0 8px var(--govuk-focus-text-colour, #0b0c0c);
outline: 3px solid #0000;
}

.moj-scrollable-pane::after {
  content: "";
  display: block;
  height: 10px;
}


/* GOV.UK table layout */
.govuk-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}


/* Standard GOV.UK table padding */
.govuk-table__cell,
.govuk-table__header {
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 16px;
  vertical-align: top;
}




/* table sort */
.table-sort {
display: inline-flex;
align-items: flex-start;
gap: 4px;
}

.table-sort-arrows {
display: inline-flex;
flex-direction: column;
font-size: 0.6em;
line-height: 1;
}


/* Pull accordion upward so it's closer to the search field */
.search-tight {    margin-bottom: -18px !important;   
  /* Increase or decrease as needed */}

.dwp-header__service-action .dwp-header__link {
  color: #fff !important;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}

/* Search highlighter */
.govuk-table .hods-highlight {  
  background-color: #facd92; 
  padding: 0 4px;
  margin-right: 6px; 
  border-bottom: 4px solid #f09a36;
}

/* search field */
.moj-search__input-wrapper {
display: flex;
gap: 6px;
}

.moj-search__button {
padding: 10px 16px;
line-height: 0.8;
}