{% extends "layouts/main.html" %}
{% set pageName="RDS" %}


{% block header %}

<div style="position: relative;">

  {{ dwpHeader({
      serviceName: "Reference data services",
      serviceHref: '#',
      container: true,
      navigation: {
      }
  }) }}

  <!-- Sign-out -->
  <div class="dwp-header__service-action">
    <a href="/sign-out" class="dwp-header__link">John Doe - Sign out</a>
  </div>

</div>

{% endblock %}

{% block content %}
<div class="govuk-!-padding-bottom-6"></div>

<div class="govuk-grid-row">

<!-- Left sidebar -->
<div class="govuk-grid-column-one-quarter">

  <nav class="govuk-!-padding-bottom-3 govuk-!-margin-bottom-3">
    <h3 class="govuk-heading-s">Popular links</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Enterprise address type</a>
      </li>
      <li>
      <a class="govuk-link" href="#"> Medical Conditions</a>
      </li>
      <li>
        <a class="govuk-link" href="dataset-view">Office locations</a>
      </li>
      <li>
        <a class="govuk-link" href="all-dataset">View all datasets</a>
      </li>
    </ul>
  </nav>

  <nav class="govuk-!-padding-bottom-3 govuk-!-margin-bottom-3">
    <h3 class="govuk-heading-s">Recently updated</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Enterprise address type</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Enterprise Nationalities</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Enterprise Countries</a>
      </li>
    </ul>
  </nav>

  <nav class="govuk-!-padding-bottom-2">
    <h3 class="govuk-heading-s">Recently added</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Enterprise Format</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Enterprise Source Types</a>
      </li>
        <a class="govuk-link" href="#">DWP_KCIS_Location</a>
      </li>
    </ul>
  </nav>

</div>


<!-- Main content -->
<div class="govuk-grid-column-three-quarters govuk-!-padding-left-8">



<h1 class="govuk-heading-l">Find a dataset</h1>
<form method="get" action="#" class="govuk-!-margin-bottom-8"></form>

<!-- Search field with hint -->
<form method="get" action="#" class="govuk-!-margin-bottom-7">

<div class="govuk-form-group">
<label class="govuk-label" for="search-datasets">Search datasets</label>
<div id="search-hint" class="govuk-hint">
Search by file name (e.g., sales_data.csv)
</div>

<div class="govuk-input__wrapper">
<input class="govuk-input" id="search-datasets" name="query" type="text" aria-describedby="search-hint">
<button class="govuk-button govuk-button--primary" style="margin-left: 8px;" type="submit">
Search
</button>
</div>
</div>

</form>

<!-- Section 1 -->
<h2 class="govuk-heading-m">Not sure what you need?</h2>
<p class="govuk-body">
If you’re not sure what you are looking for, you can view all available datasets
<a href="all-dataset" class="govuk-link" rel="noreferrer noopener" target="_blank">here</a>.
</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<!-- Section 2-->
<h2 class="govuk-heading-m">Need help or have a question?</h2>

<p class="govuk-body govuk-!-margin-bottom-9">
If you have any questions or need support, email
<a href="mailto:rds.rdssupport@dwp.gov.uk">
rds.rdssupport@dwp.gov.uk
</a>
</p>





</div>

</div>

{% endblock %}
