{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


 {% block beforeContent %}
<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
  {{ govukBackLink({
  text: "Back",
  href: "/v2/sign-in-radio"
}) }}
 </div>

 {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Sign in using your organisation's Single Sign-On (SSO)
      </h1>
    </legend> 

  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>

<div>
<a href="landing-page" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Continue
</a>
</div>

  </div>
</div>


{% endblock %}
