{% extends "layouts/main.html" %}
{% set pageName="RDS" %}

 {% block beforeContent %}
<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
  {{ govukBackLink({
  text: "Back",
  href: "/v2/start-now"
}) }}
 </div>

 {% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="/v2/sign-in-options" method="post">

 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       How do you want to sign in?
      </h1>
    </legend>

    <div id="signIn-hint" class="govuk-hint">
      You’ll need an account to prove your identity
    </div>
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" 
          id="signIn" 
          name="signIn" 
          type="radio" 
          value="username" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          Sign in with username and password
        </label>
      
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" 
          id="signIn-2" 
          name="signIn" 
          type="radio" 
          value="sso" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          Sign in with your organisation's Single Sign-On (SSO)
        </label>
        
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
Continue</button>
 </div>

 </form>


 <br>

 <br>

</div>


    

{% endblock %}
