{% extends "layouts/main.html" %}
{% set pageName="RDS" %}

{% block content %}

<div class="govuk-grid-row">

<!-- Left sidebar -->
<div class="govuk-grid-column-one-quarter">

<nav class="govuk-!-margin-bottom-6">
<h3 class="govuk-heading-s">Popular links</h3>

<ul class="govuk-list">
<li>  <a href="#">    Enterprise address type  </a></li>
<li><a href="dataset-view">Office locations</a></li>
<li><a href="all-dataset">View all datasets</a></li>
</ul>

</div>


<!-- Main content -->
<div class="govuk-grid-column-three-quarters">

<p class="govuk-body"><a href="sign-in-radio" class="govuk-back-link">Back</a></p>

<h1 class="govuk-heading-l">Find a dataset</h1>

<!-- Search field with hint -->
<form method="get" action="#" class="govuk-!-margin-bottom-6">

<div class="govuk-form-group">
<label class="govuk-label" for="search-datasets">Search datasets</label>
<div id="search-hint" class="govuk-hint">
Search by file name (e.g., sales_data.csv)
</div>

<div class="govuk-input__wrapper">
<input class="govuk-input" id="search-datasets" name="query" type="text" aria-describedby="search-hint">
<button class="govuk-button govuk-button--secondary" style="margin-left: 5px;" type="submit">
Search
</button>
</div>
</div>

</form>

<!-- accordion section 1 -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
         Recently added datasets
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body">These are the datasets that have been added most recently.</p>
      <ul class="govuk-list">
        <li>  <a href="#"> Enterprise countries </a></li>
        <li><a href="#">Enterprise DWP_KCIS_Decision Type</a></li>
        <li><a href="#">Enterprise Format</a></li>
      </ul>
    </div>
  </div>

  <!-- accordion section 2 -->
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Recently updated dataset
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body">These are the datasets that have been updated most recently.</p>
   <ul class="govuk-list">
        <li>  <a href="#"> Enterprise Level of trust </a></li>
        <li><a href="#">Enterprise Nationalities </a></li>
      </ul>
    </div>
  </div>

  <!-- accordion section 3 -->
 <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Popular on Reference data services
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">These datasets have been the most popular.</p>
      <ul class="govuk-list">
        <li>  <a href="#"> Enterprise Office Locations  </a></li>
        <li><a href="#">Enterprise DWP_Bank Holidays </a></li>
         <li><a href="#">Enterprise Medical Conditions </a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Section 4 -->
 
<h2 class="govuk-heading-m">Need help or have a question?</h2>
<p class="govuk-body">
If you’re not sure what to do next, you can get help on our Q&A page. </p>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank"> Read the help and Q&A page (opens in new tab)</a>
</p>


</div>

</div>

{% endblock %}












