{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Reference data services</a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class="govuk-!-padding-bottom-6">
 <a href="dataset-view-med" class="govuk-back-link">Back</a>
</div>



<div class="govuk-form-group">
 
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Do you want to delete record?  
      </h1>
    </legend>
    
    <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-6">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


<a href="med-delete-success"
   class="govuk-button govuk-button--primary govuk-!"
   data-module="govuk-button">
  Confirm
</a>


</div>


{% endblock %}
