{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Reference data services</a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class="govuk-!-padding-bottom-6">
 <a href="summary-edit" class="govuk-back-link">Back</a>
</div>

   
   <form class="form" action="/med-delete" method="post">

{{ govukRadios({
classes: "govuk-radios--inline",
  name: "record",
  value: data['record'],
  fieldset: {
    legend: {
      text: "Do you want to delete record?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
    }
  },
  
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>

{% endblock %}