{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Reference data services</a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class="govuk-!-padding-bottom-6">
 <a href="med-range" class="govuk-back-link">Back</a>
</div>

<style>
.govuk-summary-card .govuk-summary-list__key,
.govuk-summary-card .govuk-summary-list__value,
.govuk-summary-card .govuk-summary-list__actions {
padding-top: 16px;
padding-bottom: 16px;
}

.govuk-summary-card .govuk-summary-list__key {
width: 45%;
}
</style>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Medical conditions
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Medical condition name
        </dt>
        <dd class="govuk-summary-list__value">
       Diabetes (optional)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Code MC (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          A
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
        </dd>
      </div>
<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category subgroup (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          Anaemia A01, A10
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>
<div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Disability (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          Iron deficiency
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          D code (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          D65
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New code (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          A01
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ICD 10 code range (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          D50
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>

    </dl>
  </div>
  
</div>

<div class="govuk-button-group govuk-!-margin-top-6">
  <a href="med-create-success"
   class="govuk-button govuk-button--primary govuk-!"
   data-module="govuk-button">
Create record
</a>
 
</div>

 

{% endblock %}
