{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Reference data services</a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}


<div class="govuk-!-padding-bottom-6">
 <a href="dataset-view-med" class="govuk-back-link">Back</a>
</div>

 <h1 class="govuk-heading-xl">
     Upload your CSV file 
    </h1>

   <p> Use this page to upload a record (or multiple records). 
    The file must be in CSV format. The selected file must be smaller than 100MB.</p>

    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

<div class="govuk-form-group govuk-!-margin-top-8">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <div
    class="govuk-file-upload-wrapper"
    data-module="govuk-file-upload">
    <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
  </div>
</div>


<div class="govuk-button-group govuk-!-margin-top-6">
  <a href="file-uploading"
   class="govuk-button govuk-button--primary govuk-!"
   data-module="govuk-button">
 Continue
</a>
 <a class="govuk-link" href="#">Cancel</a>
 
</div>





{% endblock %}
