{% extends "layouts/main.html" %}

{% set pageName="RDS" %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Reference data services</a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Upload completed
    </h3>
    <p class="govuk-body">Your file has been successfully uploaded.</p>
  </div>
</div>

  <h2 class="govuk-heading-m govuk-!-margin-top-8">
  What happens next?
</h2>

<p>The file will be processed in the overnight batch job and will be available on the next calendar day.</p>

<p>Once the processing is complete, you may be contacted if any additional information is needed or if there are updates regarding your submission.</p>
 


<div class="govuk-button-group govuk-!-margin-top-6">
  <a href="dataset-view-med"
   class="govuk-button govuk-button--primary govuk-!"
   data-module="govuk-button">
 Return to dataset view 
</a>
 
 
</div>
   

{% endblock %}
