{% extends "layouts/main.html" %}

{% set pageName="RDS" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
     Reference data service
    </h1>
    
    <p>Get a quick preview of how this experience will work. Explore the key screens and interactions designed for this prototype.</p>

    <ul class="govuk-list"> 

    <li>
      <a class="govuk-link" href="/v1/start-now">Continue to the next step.</a> 
      </li>
      </ul>


  </div>
</div>

{% endblock %}
